<div class="h-screen w-screen flex items-center justify-center">
  <div class="flex flex-col max-w-sm w-full bg-red p-4">
    <h2 class="text-4xl font-semibold mb-6 text-center">Log in</h2>
    <p class="text-red-400 text-sx italic text-center">
      <%= alert %>
    </p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="space-y-2">
        <div class="flex flex-col">
          <%= f.label :email, class: "label label-text" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full" %>
        </div>
        <div class="flex flex-col">
          <%= f.label :password, class: "label label-text" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered w-full" %>
        </div>
      </div>
      <div class="my-4">
        <%= f.submit "Log in", class: "btn btn-primary w-full" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
