<nav class="flex items-center justify-between px-10 py-3">
  <%= link_to 'Finances', root_path, class: 'text-3xl font-bold text-green-600' %>
  <ul class="flex space-x-2">
    <li>
      <%= link_to 'Home', root_path, class: 'px-4 py-3 rounded-md text-gray-500 font-medium' %>
    </li>
    <li>
      <%= link_to 'Categories', root_path, class: 'px-4 py-3 rounded-md text-gray-500 font-medium' %>
    </li>
    <li>
      <%= link_to 'Transactions', root_path, class: 'px-4 py-3 rounded-md text-gray-500 font-medium' %>
    </li>
  </ul>
  <% if current_user %>
    <div>
      <%= button_to 'Sign Out', destroy_user_session_path, :method => :delete, class: 'bg-red-500 rounded-md px-3 py-2 text-white font-semibold' %>
    </div>
  <% end %>
</nav>
